.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* topics variant */
.cards.topics li .cards-card-image {
  padding: 10px;
}

.cards.topics li .cards-card-image img {
  height: 144px;
  border-radius: 5px;
}

.cards.topics li .cards-card-body {
  height: 230px;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px;
  margin: 0;
}

.cards.topics li .cards-card-body .button-container {
  margin: 0;
  flex-grow: 2;
  display: flex;
}

.cards.topics li .cards-card-body .button {
  align-self: flex-end;
  margin: 0;
}

/* stacks variant */
.cards.stacks li:first-child {
  grid-column: span 2;
}

.cards.stacks li.stacked .title {
  background-color: #052955;
  color: white;
  text-align: right;
  display: block;
  padding: 15px;
  font-size: 0.9em;
}

.cards.stacks li.stacked .cards-card-image img {
  height: 271px;
}

.cards.stacks li.stacked .cards-card-body {
  background-color: #e9eef2;
  margin: 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  font-size: 0.9em;
}

.cards.stacks li.stacked .button-container,
.cards.stacks li.stacked .stacklink {
  margin: 0;
  font-size: 1em;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #0766d1;
  padding: 0;
  gap: 5px;
  height: 20px;
}

.cards.stacks li.stacked .stacklink .arrow {
  font-size: 2em;
}
