.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns.img-round .columns-img-col p {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;
  left: -100px;
}

.columns.img-round .columns-img-col a {
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: center;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 162px;
  height: 152px;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
