footer {
  background-color: #032954;
  font-size: var(--body-font-size-xs);
  color: var(--light-color);
}

footer a:any-link {
  color: var(--light-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .columns-40-60 .columns-2-cols > div > div:first-child {
  width: 35%;
  flex: unset;
}

footer .columns-40-60 .columns-2-cols > div > div:last-child {
  width: 65%;
  flex: unset;
  display: flex;
  flex-direction: row;
}

footer .columns-40-60 .columns-2-cols > div > div:last-child ul {
  list-style: none;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
